.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.img{
    height: auto;
    width: auto; 
}

.img-producto {
    width: 200px;
    margin: auto;
}

.precio{
    margin: 0px 20px 10px 0px;
    text-align: right;
    font-size: 20px;
    color: #0062cc;
    font-weight: bold;
}
.icon-producto {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
    margin: 10px;
    background-color: #d39e00;
    padding: 10px;
    border-radius: 100%;
    color: white;
}