<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Buscador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  *ngIf="enableNewProduct"
>
  <div style="text-align: center; padding-top:200px;">
    <ion-button
      (click)="searchProduct()"
      shape="round"
    >Busqueda IA</ion-button>
  </div>

  <div style="text-align: center; padding-top: 10px;">
    <img
      style="height: 150px; width: 150px;"
      src="../../../assets/img/foto2.png"
    >
  </div>

  <div style="text-align: center; padding-top: 10px;">
    <ion-button
      (click)="getCodigoBarras()"
      shape="round"
    >Scan Code</ion-button>
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button [routerLink]="['/set-productos']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf="enableNewProduct == false">
  <div *ngFor="let item of joyeria">
    <ion-card style="position: relative;">
      <ion-img
        class="img-producto"
        [src]="item.foto"
      ></ion-img>

      <ion-item lines="full">
        <ion-label class="subtitulo">
          <b>{{item.descripcion}}</b>
        </ion-label>
      </ion-item>

      <p class="precio">{{item.precio}} €</p>

      <ion-icon
        (click)="addCarrito(item)"
        class="icon-producto"
        name="cart-sharp"
      ></ion-icon>
    </ion-card>
  </div>

  <ion-button
    (click)="refresh()"
    expand="block"
    shape="round"
  >Volver</ion-button>
</ion-content>