<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
      <ion-title>Configuración de productos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: end; margin: 10px;">
    <ion-button (click)="nuevo()" color="dark">Nuevo</ion-button>
  </div>

  <div *ngIf="enableNewProduct">

    <ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="enableNewProduct = false">
          <ion-icon
            slot="icon-only"
            name="close"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
      
    <h3>Ingrese datos del producto</h3>

    <ion-item>
      <ion-label
        position="floating"
      >Descripcion:</ion-label>

      <ion-input
        [(ngModel)]="newJoyeria.descripcion"
        type="text"
        inputmode="text"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label
        position="floating"
      >Precio:</ion-label>

      <ion-input
        [(ngModel)]="newJoyeria.precio"
        type="number"
        inputmode="numeric"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label
        position="floating"
      >Código Barras:</ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon
          slot="icon-only"
          name="barcode-sharp" 
          ></ion-icon> 
        </ion-button>
      </ion-buttons>
        <ion-input [(ngModel)]="newJoyeria.EAN"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label
        position="floating"
      >Código :</ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon
          slot="icon-only"
          name="barcode-sharp" 
          ></ion-icon> 
        </ion-button>
      </ion-buttons>
        <ion-input [(ngModel)]="newJoyeria.codigo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="normal">Foto:</ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <label for="file-upload">
            <ion-icon
              slot="icon-only"
              name="images"
            ></ion-icon>
          </label>
          <input (change)="newImageUpload($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item>
      <img class="image" [src]="newJoyeria.foto">
    </ion-item>

    <ion-button
      style="margin: 30px;"
      expand="full"
      color="dark"
      (click)="guardarProducto()"
    >Guardar</ion-button>
  </div>

  <ion-card>
    <ion-card-title>Lista de productos</ion-card-title>
      <ion-item *ngFor="let joyeria of joyeria">
        <ion-label>{{joyeria.descripcion}}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="newJoyeria = joyeria; enableNewProduct = true;">
            <ion-icon
              slot="icon-only"
              name="create-sharp"
            ></ion-icon>
          </ion-button>

          <ion-button (click)="borrarProducto(joyeria)">
            <ion-icon
              slot="icon-only"
              color="danger"
              name="trash-bin"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card>

</ion-content>
